<md-content layout-padding>
  <md-subheader class="md-no-sticky">Cadastro de Usuário</md-subheader>
  <form data-ng-init="vm.initPersist()" data-ng-submit="vm.save(vm.user)">
    <md-input-container flex>
      <label>Nome</label>
      <input ng-model="vm.user.name">
    </md-input-container>
		<md-input-container flex>
      <label>Email</label>
      <input ng-model="vm.user.email">
    </md-input-container>
    <div layout layout-sm="column">
      <md-input-container flex>
        <label>Username</label>
        <input ng-model="vm.user.username">
      </md-input-container>
      <md-input-container flex>
        <label>Senha</label>
        <input type="password" ng-model="vm.user.password">
      </md-input-container>
		</div>
	  <md-button class="md-raised md-primary" type="submit">Cadastrar</md-button>
  </form>
</md-content>
