<form data-ng-init="vm.initPersist()" data-ng-submit="vm.save(vm.user)">
	<div class="form-group">
    <label for="iname">Nome</label>
    <input type="text" class="form-control" id="iname" placeholder="Digite aqui seu Nome Completo" data-ng-model="vm.user.name">
  </div>
	<div class="form-group">
    <label for="iemail">Email</label>
    <input type="email" class="form-control" id="iemail" placeholder="Digite aqui seu Email" data-ng-model="vm.user.email">
  </div>
  <div class="form-group">
    <label for="iusername">Username</label>
    <input type="text" class="form-control" id="iusername" placeholder="Digite aqui seu Username" data-ng-model="vm.user.username">
  </div>
	<div class="form-group">
    <label for="ipassword">Senha</label>
    <input type="password" class="form-control" id="ipassword" placeholder="Digite aqui sua Senha" data-ng-model="vm.user.password">
  </div>
  <button type="submit" class="btn btn-success">Cadastrar</button>
</form>
